@model Zerog.Web.ViewModels.Addresses.AddressViewModel
@(ViewData["Title"] = "MyAddress")
<div class="col-md-6">

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <label class="form-control input">@Model.FirstName </label>
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <label class="form-control input">@Model.LastName </label>
    </div>

    <div class="form-group">
        <label asp-for="Country"></label>
        <label class="form-control input">@Model.Country </label>
    </div>

    <div class="form-group">
        <label asp-for="Addreess"></label>
        <label class="form-control input">@Model.Addreess </label>
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <label class="form-control input">@Model.City </label>
    </div>

    <div class="form-group">
        <label asp-for="ZipCode"></label>
        <label class="form-control input">@Model.ZipCode </label>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <label class="form-control input">@Model.PhoneNumber </label>
    </div>
</div>
