@model Zerog.Web.ViewModels.Products.CreateProductInputModel

<form method="post" class="col-md-6 " enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control input" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control input" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Discount"></label>
        <input asp-for="Discount" class="form-control input" />
        <span asp-validation-for="Discount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <i class="fa fa-industry"></i>
        <label asp-for="Category"></label>
        <input asp-for="Category" list="categories" class="form-control input" />
        <datalist id="categories">
            @foreach (var category in Model.ProductParts.Categories)
            {
                <option value="@category"> </option>
            }
        </datalist>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="form-group">
        <i class="fa fa-industry"></i>
        <label asp-for="Manufacturer"></label>
        <input asp-for="Manufacturer" list="manufacturers" class="form-control input" />
        <datalist id="manufacturers">
            @foreach (var manufacturer in Model.ProductParts.Manufacturers)
            {
                <option value="@manufacturer"> </option>
            }
        </datalist>
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>

    <div id="ImagesContainer">
        <label asp-for="Images"></label>
        <button class="btn btn-success" type="button" onclick="addImage(this)">Add</button>
        @{int i = 0; }
        @foreach (var image in Model.Images)
        {
            <div class="form-group">
                <img src="@image" class="img-responsive h-10">
                <input type="text" name="Images[@(i++)]" class="form-control input" value="@image">
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
        }
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control input"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div id="PortsContainer" class="form-group">
        <label asp-for="ProductSpecifications"></label>
        <div class="form-inline form-group">
            <input list="specificationNames" class="form-control input" />
            <button class="btn btn-success" type="button" onclick="addSpecificationName(this)">AddSpecification</button>
        </div>

        @foreach (var kvp in Model.ProductSpecifications)
        {
            <div class="form-group">
                <label>@kvp.Key</label>
                <button class="btn btn-success" type="button" onclick="addMore(this)">+</button>
                @{i = 0; }
                @foreach (var item in kvp.Value)
                {
                    <input class="form-group input" name="ProductSpecifications[@kvp.Key][@(i++)]" value="@item">
                }
            </div>
        }
        <datalist id="specificationNames">
            @foreach (var key in Model.ProductParts.Specifications.Keys)
            {
                <option value="@key"> </option>
            }
        </datalist>
    </div>

    <input type="submit" class="btn btn-info" value="Edit" />
</form>

@section Scripts{
    <script>
 @*<input type="text" name="Images[@(i++)]" class="form-control input" value="@image">
                <span asp-validation-for="Images" class="text-danger"></span>*@
        function addImage(x) {
            var parentNode = x.parentNode;
            var count = parentNode.children.length - 2;

            var div = document.createElement("div");
            div.classList.add("form-group");

            var input = document.createElement("input");
            input.classList.add("form-control");
            input.classList.add("input");
            input.setAttribute("name", "Images[" + count + "]");
            input.setAttribute("type", "text");

            div.appendChild(input);

            var span = document.createElement("span");
            span.classList.add("text-danger");
            span.classList.add("field-validation-valid");
            span.setAttribute("data-valmsg-for", "Images");
            span.setAttribute("data-valmsg-replace", "true");

            div.appendChild(span);

            parentNode.appendChild(div);
        };
    </script>
    <script>
        function addSpecificationName(x) {
            var parentNode = x.parentNode;
            var value = parentNode.children[0].value;
            if (value == "") {
                return 0;
            }

            var div = document.createElement("div");
            div.classList.add("form-group");

            var label = document.createElement("label");
            label.innerText = value;
            div.appendChild(label);

            var button = document.createElement("button");
            button.classList.add("btn");
            button.classList.add("btn-success");
            button.setAttribute("type", "button");
            button.innerHTML = "+";
            button.setAttribute("onclick", "addMore(this)");
            div.appendChild(button);

            var input = document.createElement("input");
            input.classList.add("form-group");
            input.classList.add("input");
            input.setAttribute("name", "ProductSpecifications[" + value + "][0]")
            div.appendChild(input);

            parentNode.parentNode.appendChild(div);
            parentNode.children[0].value = "";
        };
    </script>

    <script>
        function addMore(x) {
            var parentNode = x.parentNode;
            var index = parentNode.children.length - 2;
            var value = parentNode.children[0].innerText;

            var input = document.createElement("input");
            input.classList.add("form-group");
            input.classList.add("input");
            input.setAttribute("name", "ProductSpecifications[" + value + "][" + index + "]")

            parentNode.appendChild(input);
        };
    </script>
}