@model Zerog.Web.ViewModels.Laptops.CreateLaptopInputModel

<form method="post" class="col-md-6 offset-md-3" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control input" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control input" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <i class="fa fa-industry"></i>
        <label asp-for="Manufacturer"></label>
        <input asp-for="Manufacturer" list="manufacturers" class="form-control input" />
        <datalist id="manufacturers">
            @foreach (var manufacturer in Model.Parts.Manufacturers)
            {
                <option value="@manufacturer"> </option>
            }
        </datalist>
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>

    <div id="ImagesContainer">
        <label asp-for="Images"></label>
        <button class="btn btn-success" type="button" onclick="addInput(this,'Images')">Add</button>
        <div class="form-group">
            <input type="text" name="Images[0]" class="form-control input">
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Purpose"></label>
        <input asp-for="Purpose" list="purpose" class="form-control input" />
        <datalist id="purpose">
            @foreach (var purpose in Model.Parts.Purposes)
            {
                <option value="@purpose"> </option>
            }
        </datalist>
        <span asp-validation-for="Purpose" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Processor"></label>
        <input asp-for="Processor" list="processor" class="form-control input" />
        <datalist id="processor">
            @foreach (var processor in Model.Parts.Processors)
            {
                <option value="@processor"> </option>
            }
        </datalist>
        <span asp-validation-for="Processor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VideoCard"></label>
        <input asp-for="VideoCard" list="videoCard" class="form-control input" />
        <datalist id="videoCard">
            @foreach (var videoCard in Model.Parts.VideoCards)
            {
                <option value="@videoCard"> </option>
            }
        </datalist>
        <span asp-validation-for="VideoCard" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Memory"></label>
        <input asp-for="Memory" list="memory" class="form-control input" />
        <datalist id="memory">
            @foreach (var memory in Model.Parts.Memories)
            {
                <option value="@memory"> </option>
            }
        </datalist>
        <span asp-validation-for="Memory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MemorySlots"></label>
        <input asp-for="MemorySlots" class="form-control input" />
        <span asp-validation-for="MemorySlots" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HDD"></label>
        <input asp-for="HDD" list="hdd" class="form-control input" />
        <datalist id="hdd">
            @foreach (var hdd in Model.Parts.HDDs)
            {
                <option value="@hdd"> </option>
            }
        </datalist>
        <span asp-validation-for="HDD" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SSD"></label>
        <input asp-for="SSD" list="ssd" class="form-control input" />
        <datalist id="ssd">
            @foreach (var ssd in Model.Parts.SSDs)
            {
                <option value="@ssd"> </option>
            }
        </datalist>
        <span asp-validation-for="SSD" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Display"></label>
        <input asp-for="Display" list="display" class="form-control input" />
        <datalist id="display">
            @foreach (var display in Model.Parts.Displays)
            {
                <option value="@display"> </option>
            }
        </datalist>
        <span asp-validation-for="Display" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Camera"></label>
        <input asp-for="Camera" list="camera" class="form-control input" />
        <datalist id="camera">
            @foreach (var camera in Model.Parts.Cameras)
            {
                <option value="@camera"> </option>
            }
        </datalist>
        <span asp-validation-for="Camera" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Audio"></label>
        <input asp-for="Audio" list="audio" class="form-control input" />
        <datalist id="audio">
            @foreach (var audio in Model.Parts.Cameras)
            {
                <option value="@audio"> </option>
            }
        </datalist>
        <span asp-validation-for="Audio" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OpticalDevice"></label>
        <input asp-for="OpticalDevice" class="checkbox-inline" />
    </div>

    <div class="form-group">
        <label asp-for="WiFi"></label>
        <input asp-for="WiFi" list="wifi" class="form-control input" />
        <datalist id="wifi">
            @foreach (var wifi in Model.Parts.WiFis)
            {
                <option value="@wifi"> </option>
            }
        </datalist>
        <span asp-validation-for="WiFi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Lan"></label>
        <input asp-for="Lan" list="lan" class="form-control input" />
        <datalist id="lan">
            @foreach (var lan in Model.Parts.Lans)
            {
                <option value="@lan"> </option>
            }
        </datalist>
        <span asp-validation-for="Lan" class="text-danger"></span>
    </div>

    <div id="PortsContainer" class="">
        <label asp-for="Ports"></label>
        <button class="btn btn-success" type="button" onclick="addInput(this,'Ports')">Add</button>
        <div class="form-inline form-group">
            <input type="number" name="Ports[0].Count" class="form-group form-control input">
            <div class="form-group"> x </div>
            <input type="text" name="Ports[0].Name" list="port" class="form-group form-control input">
            <datalist id="port">
                @foreach (var port in Model.Parts.Ports)
                {
                    <option value="@port"> </option>
                }
            </datalist>
            <span asp-validation-for="Ports" class="text-danger"></span>
        </div>
    </div>


    <div id="KeyboardDetailsContainer">
        <label asp-for="KeyboardDetails"></label>
        <button class="btn btn-success" type="button" onclick="addInput(this,'KeyboardDetails')">Add</button>
        <div class="form-group">
            <input type="text" name="KeyboardDetails[0]" list="keyboardDetail" class="form-control input">
            <datalist id="keyboardDetail">
                @foreach (var keyboardDetail in Model.Parts.KeyboardDetails)
                {
                    <option value="@keyboardDetail"> </option>
                }
            </datalist>
            <span asp-validation-for="KeyboardDetails" class="text-danger"></span>
        </div>
    </div>

    <div id="Extras">
        <label asp-for="Extras"></label>
        <button class="btn btn-success" type="button" onclick="addInput(this,'Extras')">Add</button>
        <div class="form-group">
            <input type="text" name="Extras[0]" list="extra" class="form-control input">
            <datalist id="extra">
                @foreach (var extra in Model.Parts.Extras)
                {
                    <option value="@extra"> </option>
                }
            </datalist>
            <span asp-validation-for="Extras" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OperatingSystem"></label>
        <input asp-for="OperatingSystem" list="operatingSystem" class="form-control input" />
        <datalist id="operatingSystem">
            @foreach (var operatingSystem in Model.Parts.OperatingSystems)
            {
                <option value="@operatingSystem"> </option>
            }
        </datalist>
        <span asp-validation-for="OperatingSystem" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Battery"></label>
        <input asp-for="Battery" list="battery" class="form-control input" />
        <datalist id="battery">
            @foreach (var battery in Model.Parts.Batteries)
            {
                <option value="@battery"> </option>
            }
        </datalist>
        <span asp-validation-for="Battery" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Weight"></label>
        <input asp-for="Weight" class="form-control input" />
        <span asp-validation-for="Weight" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Demensions"></label>
        <input asp-for="Demensions" class="form-control input" />
        <span asp-validation-for="Demensions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Color"></label>
        <input asp-for="Color" list="color" class="form-control input" />
        <datalist id="color">
            @foreach (var color in Model.Parts.Colors)
            {
                <option value="@color"> </option>
            }
        </datalist>
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />
</form>

@section Scripts{
    <script>
        function addInput(x,PropName) {
            var parentNode = x.parentNode;
            var div = parentNode.children[2].cloneNode(true);
            var count = parentNode.children.length - 2;

            div.children[0].value = "";
            div.children[0].setAttribute("name", PropName + "[" + count + "]");
            parentNode.appendChild(div);
        };
    </script>
}