@model ICollection<Zerog.Web.ViewModels.Orders.OrderInListViewModel>
@(ViewData["Title"] = "MyOrders")

<table class="table table-striped">
    <thead>
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-action="ById" asp-route-id="@item.OrderId">@item.OrderId</a></td>
                <td>@item.Date</td>
                <td>@item.Total</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>
